body{
    background-color: skyblue;
    font-family: sans-serif;
}

img{
    height: 200px;
    width: auto;
}

div{
    border: slateblue 4px solid;
    margin: 10px;
    padding: 7px;
}

div.About{
    float: right;
    text-align: center;
    width: 25%;
    color: white;
    border: whitesmoke 4px dashed;
    background-color: rgb(32, 128, 207);
}

ul{
    list-style: none
}