body{
    background-color: skyblue;
    font-family: sans-serif;
}

img{
    height: 200px;
    width: auto;
}

div{
    width: 60%;
    border: slateblue 4px solid;
    margin: 10px;
    padding: 7px;
}

div.About{
    float: right;
    text-align: center;
    width: 25%;
    color: whitesmoke;
    border: whitesmoke 4px dashed;
    background-color: rgb(32, 128, 207);
}

div.Intro{
    background-color: slateblue;
    color: whitesmoke;
    border: whitesmoke 4px solid;
}

div.Contact{
    float: right;
    width: 25%;
    background-color: slateblue;
    color: whitesmoke;
    border: whitesmoke 4px solid;
}

ul{
    list-style: none
}